/** Reset some basic elements */
body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure { margin: 0; padding: 0; }

/** Basic styling */
body { font: 400 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif; color: #111; background-color: #fdfdfd;  }

/** Set `margin-bottom` to maintain vertical rhythm */
h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol, dl, figure, .highlight { margin-bottom: 15px; }

/** Images */
img { max-width: 100%; vertical-align: middle; }

/** Figures */
figure > img { display: block; margin-left: 30px; margin-bottom: 10px}

figcaption { font-size: 14px; margin-left: 30px; }

/** Lists */
ul, ol { margin-left: 30px; }

li > ul, li > ol { margin-bottom: 0; }

/** Headings */
h1, h2, h3, h4, h5, h6 { font-weight: 400; }
h1 {margin-top: 100px}

/** Links */
a { color: #2a7ae2; text-decoration: none; }
a:visited { color: #1756a9; }
a:hover { color: #111; text-decoration: underline; }

/** Blockquotes */
blockquote { color: #828282; border-left: 4px solid #e8e8e8; padding-left: 15px; font-size: 18px; letter-spacing: -1px; font-style: italic; }
blockquote > :last-child { margin-bottom: 0; }


/** Wrapper */
.content { max-width: 700px; margin-right: auto; margin-left: auto; padding-right: 30px; padding-left: 30px; }
@media screen and (max-width: 800px) {
    .content { max-width: 700px; margin-right: auto; margin-left: auto; padding-right: 15px; padding-left: 15px; }
}

/** Abstracts **/

article {margin-bottom: 30px}
article header { font-size: 14px; color: #696969; }
article h2 { font-weight: 600; font-size: 20px; letter-spacing: 1px; line-height: 1; color: #111 }

.abstract-meta { font-size: 14px; color: #696969; }

.abstract-link { display: block; font-size: 24px; }


/** Schedules */
/* table { border-spacing: 15px 5px; border: 2px solid black; margin-bottom: 15px; margin-left: auto; margin-right: auto; } */

  table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    margin-bottom: 70px;
    caption-side: top;
  }


  table caption {
    padding: 0.3em;
  }
  
  td, th {
    padding: 0.3em;
  }
  
  tbody {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
  }
  
  tbody th, tfoot th {
    border: 0;
  }
  
  th.name {
    width: 25%;
  }
  
  th.location {
    width: 20%;
  }
  
  th.lasteruption {
    width: 30%;
  }
  
  th.eruptiontype {
    width: 25%;
  }
  
  tfoot {
    text-align: center;
    color: #555;
    font-size: 0.8em;
  }